<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de empleados</span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-dark  me-md-2" type="button" routerLink="/createEmpleado">Agregar</button>
                <!-- <button class="btn btn-primary" type="button">Button</button> -->
            </div>
            <!-- <button type="button" class="btn btn-dark  btn-sm float-right">Agregar</button> -->
            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.documento }}</td>
                        <td>{{ empleado.salario }}</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info me-3"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger ms-2"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>